#message_box{
    width: 1300px;
    margin: 0 auto;

}
#message{
    height: 342px;
    width: 623px;
    margin-right: 56px;
    float: left;
    margin-bottom: 30px;
}
.remark{
    padding-top: 14px;
    padding-bottom: 26px;
    border-radius: 20px;
    background: #b7e6ff;
    margin-bottom: 15px;
    width: 604px;
    height: 64px;
}
.remark span{
    display: inline-block;
    margin-left: 15px;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
#row{
    width: 9px;
    height: 342px;
    background: #b7e6ff;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
#strange{
    float: left;
}
#next{
    border-radius: 20px;
    background: #b7e6ff;
    padding: 20px 15px 13px 19px;
    float: right;
    width: 586px;
    height: 315px;

    textarea{
        width: 556px;
        height: 231px;
        padding: 14px 15px;
        border-radius: 15px;
        color: #555;
        font-size: 16px;
        font-weight: 400;
        border: none;
    }
    input{
        width: 147px;
        height: 37px;
        background-color:white; 
        border-radius: 15px;
        font-size: 16px;
        font-weight: 400;
        border: none;
        margin-top: 10px;
        padding-left: 8px;
    }
    buttom{
        width: 163px;
        height: 37px;
        background-color: rgb(88, 196, 255);
        cursor: pointer;
        float: right;
        margin-top: 10px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 36px;
        color: white;
    }
}
