* {
  padding: 0;
  margin: 0;
}

#father {
  width: 1300px;
  height: 268px;
  display: flex;
  justify-content: center;
  background-color: #19aeff;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
}

.chid {
  width: 324px;
  height: 185px;
  margin-top: 33px;
  text-align: left;
  padding-left: 60px;
  border-right: 1px solid white;
}

.na {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.me {
  color: #fff;
  font-weight: 400;
  line-height: 36px;
  font-size: 18px;
  width: 198px;
  display: block;
}

#ee {
  border-right: 1px solid #19aeff;
}

#selection {
  width: 1300px;
  height: 59px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 73px;
}

.select {
  width: 240px;
  height: 41px;
  text-align: center;
  margin-top: 18px;
  margin-right: 25px;
  border-radius: 20px;
  line-height: 41px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 73px;
}

#Aa {
  background-color: #b7e6ff;
}

#Bb {
  background-color: #94d9ff;
}

#Cc {
  background-color: #79d0ff;
}

#Dd {
  background-color: #58c4ff;
}

#Ee {
  background-color: #19aeff;
  margin-right: 0px;
}
